<div ng-controller="PolicyDeleteController as del" class="modal" tabindex="-1" data-role="modalDeletePolicy">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" data-translate="moon.policy.remove.title"></h4>
            </div>

            <div class="modal-body">
                <p><span data-translate="moon.policy.remove.content.query" data-translate-values="{ policyName: del.policy.name }"></span></p>

            </div>

            <div class="modal-footer">

                <div class="btn-toolbar" style="float: right;">

                    <a href="" ng-click="$hide()" class="btn btn-default">
                        <span data-translate="moon.policy.remove.action.cancel">Cancel</span>
                    </a>

                    <a href="" ng-disabled="del.loading" ng-click="del.remove()" class="btn btn-warning">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span data-translate="moon.policy.remove.action.delete">Delete</span>
                    </a>

                    <moon-loader  ng-if="del.loading" ></moon-loader>

                </div>

            </div>

        </div>

    </div>

</div>