<div ng-controller="MetaRulesEditController as edit" class="modal" tabindex="-1" data-role="modalViewProject">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" data-translate="moon.model.metarules.edit.title" data-translate-values="{metaRuleName: edit.metaRule.name}"></h4>
            </div>

            <div class="modal-body">

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4>
                            <span data-translate="moon.model.edit.basic.title" >Basic Information</span>
                            <a href="" ng-click="edit.editBasic = !edit.editBasic">
                                <span data-translate="moon.model.metarules.edit.update">Update</span>
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </h4>

                    </div>

                    <div class="panel-body">

                        <div ng-if="edit.editBasic">
                            <moon-meta-rules-edit-basic meta-rule="edit.metaRule"></moon-meta-rules-edit-basic>
                        </div>

                        <div ng-if="!edit.editBasic">
                            <dl class="dl-horizontal">
                                <dt>Id</dt>
                                <dd ng-bind="edit.metaRule.id"></dd>
                                <dt>Name</dt>
                                <dd ng-bind="edit.metaRule.name"></dd>
                                <dt>Description</dt>
                                <dd ng-bind="edit.metaRule.description"></dd>
                            </dl>
                        </div>
                    </div>

                </div>

                <moon-meta-data-list edit-mode="true" meta-rule="edit.metaRule"></moon-meta-data-list>

            </div>

            <div class="modal-footer top10">
                <div class="btn-toolbar" style="float: right;">
                    <button ng-click="$hide()" class="btn btn-default" data-translate="moon.model.view.action.close">Close</button>
                </div>
            </div>

        </div>

    </div>

</div>
