<div>
    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.data.subject.title">List of associated Subjects</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th data-translate="moon.policy.data.table.name">Name</th>
                        <th data-translate="moon.policy.data.table.description">Description</th>
                        <th data-translate="moon.policy.data.table.category.name">Category</th>
                        <th data-translate="moon.policy.data.table.action.title"></th>
                    </tr>
                    </thead>

                    <moon-loader ng-if="list.loadingSub"></moon-loader>

                    <tbody ng-if="!list.loadingSub && list.getSubjects().length > 0">
                    <tr ng-repeat="(key, value) in list.subjects">
                        <td ng-bind="value.name"></td>
                        <td ng-bind="value.description"></td>
                        <td>

                            <div ng-if="!list.getCategoryFromData(value, list.typeOfSubject)">
                                <moon-loader ng-if="!list.getCategoryFromData(value)" ></moon-loader>
                                <em data-translate="moon.policy.list.table.loading.category">Loading </em>
                            </div>

                            <div ng-if="list.getCategoryFromData(value)">
                                <span ng-bind="value.category.name"></span>
                            </div>

                        </td>

                        <td>

                            <a href="" ng-if="!value.loader" ng-click="list.deleteSub(value)" >
                                <span class="glyphicon glyphicon-transfer"></span>
                                <span class="control-label" data-translate="moon.policy.data.table.action.delete">Delete</span>
                            </a>

                            <div ng-if="value.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>


                        <!--<td>

                            <div class="dropdown">

                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span data-translate="moon.policy.data.table.action.title">Actions</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="" ng-click="list.unMapSub(value)" >
                                            <span class="glyphicon glyphicon-transfer"></span>
                                            <span class="control-label" data-translate="moon.model.metarules.action.unmap">Unmap</span>
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="" ng-click="list.deleteSub(value)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="control-label" data-translate="moon.policy.data.table.action.delete">Delete</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                            <div ng-if="value.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>-->

                    </tr>
                    </tbody>


                    <tbody ng-if="!list.loadingSub && list.getSubjects().length === 0">
                    <tr>
                        <td colspan="4" data-translate="moon.policy.data.subject.notFound">There is no Subjects</td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.data.subject.add.title">Add a Subject Category</h4>

        </div>

        <div class="panel-body">

            <moon-data-edit policy="list.policy" mn-data-type="list.typeOfSubject"></moon-data-edit>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.data.object.title">List associated of Objects</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th data-translate="moon.policy.data.table.name">Name</th>
                        <th data-translate="moon.policy.data.table.description">Description</th>
                        <th data-translate="moon.policy.data.table.category.name">Category</th>
                        <th data-translate="moon.policy.data.table.action.title">Actions</th>
                    </tr>
                    </thead>

                    <moon-loader ng-if="list.loadingObj"></moon-loader>

                    <tbody ng-if="!list.loadingObj && list.getObjects().length > 0">
                    <tr ng-repeat="(key, value) in list.objects">
                        <td ng-bind="value.value.name"></td>
                        <td ng-bind="value.value.description"></td>
                        <td>

                            <div ng-if="!list.getCategoryFromData(value, list.typeOfObject)">
                                <moon-loader ng-if="!list.getCategoryFromData(value)" ></moon-loader>
                                <em data-translate="moon.policy.list.table.loading.category">Loading </em>
                            </div>

                            <div ng-if="list.getCategoryFromData(value)">
                                <span ng-bind="value.category.name"></span>
                            </div>

                        </td>

                        <td>

                            <a href="" ng-if="!value.loader" ng-click="list.deleteObj(value)" >
                                <span class="glyphicon glyphicon-transfer"></span>
                                <span class="control-label" data-translate="moon.policy.data.table.action.delete">Delete</span>
                            </a>

                            <div ng-if="value.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>
                        <!--<td>

                            <div class="dropdown">

                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span data-translate="moon.policy.data.table.action.title">Actions</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="" ng-click="list.unMapObj(value)" >
                                            <span class="glyphicon glyphicon-transfer"></span>
                                            <span class="control-label" data-translate="moon.model.metarules.action.unmap">Unmap</span>
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="" ng-click="list.deleteObj(value)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="control-label" data-translate="moon.policy.data.table.action.delete">Delete</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                            <div ng-if="value.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>
                    </tr>-->
                    </tbody>

                    <tbody ng-if="!list.loadingObj && list.getObjects().length === 0">
                    <tr>

                        <td colspan="4" data-translate="moon.policy.data.object.notFound">There is no Objects</td>

                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.data.object.add.title">Add an Object Category</h4>

        </div>

        <div class="panel-body">

            <moon-data-edit policy="list.policy" mn-data-type="list.typeOfObject"></moon-data-edit>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.data.action.title">List associated of Actions</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th data-translate="moon.policy.data.table.name">Name</th>
                        <th data-translate="moon.policy.data.table.description">Description</th>
                        <th data-translate="moon.policy.data.table.category.name">Category</th>
                        <th data-translate="moon.policy.data.table.action.title">Actions</th>
                    </tr>
                    </thead>

                    <moon-loader ng-if="list.loadingAct"></moon-loader>

                    <tbody ng-if="!list.loadingAct && list.getActions().length > 0">
                    <tr ng-repeat="(key, value) in list.actions">
                        <td ng-bind="value.value.name"></td>
                        <td ng-bind="value.value.description"></td>
                        <td>

                            <div ng-if="!list.getCategoryFromData(value, list.typeOfAction)">
                                <moon-loader ng-if="!list.getCategoryFromData(value)" ></moon-loader>
                                <em data-translate="moon.policy.list.table.loading.category">Loading </em>
                            </div>

                            <div ng-if="list.getCategoryFromData(value)">
                                <span ng-bind="value.category.name"></span>
                            </div>

                        </td>

                        <td>

                            <a href="" ng-if="!value.loader" ng-click="list.deleteSub(value)" >
                                <span class="glyphicon glyphicon-transfer"></span>
                                <span class="control-label" data-translate="moon.policy.data.table.action.delete">Delete</span>
                            </a>

                            <div ng-if="value.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>
                        <!--<td>

                            <div class="dropdown">

                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span data-translate="moon.policy.data.table.action.title">Actions</span>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="" ng-click="list.unMapAct(value)" >
                                            <span class="glyphicon glyphicon-transfer"></span>
                                            <span class="control-label" data-translate="moon.model.metarules.action.unmap">Unmap</span>
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="" ng-click="list.deleteAct(value)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="control-label" data-translate="moon.policy.data.table.action.delete">Delete</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                            <div ng-if="value.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>-->
                    </tr>
                    </tbody>

                    <tbody ng-if="!list.loadingAct && list.getActions().length === 0">
                    <tr>
                        <td colspan="4" data-translate="moon.policy.data.action.notFound">There is no Actions</td>
                    </tr>
                    </tbody>

                </table>

            </div>


        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.data.action.add.title">Add an Action Category</h4>

        </div>

        <div class="panel-body">.

            <moon-data-edit policy="list.policy" mn-data-type="list.typeOfAction"></moon-data-edit>

        </div>

    </div>

</div>