[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
  push = group ldap/opnfv-gerrit-moon-submitters
  push = group ldap/opnfv-gerrit-moon-submitters
[access "refs/heads/*"]
  label-Code-Review = -2..+2 group ldap/opnfv-gerrit-moon-submitters
  label-Code-Review = -1..+1 group Registered Users
  label-Verified = -1..+1 group Non-Interactive Users
  label-Verified = -1..+1 group ldap/opnfv-gerrit-moon-submitters
  submit = group ldap/opnfv-gerrit-moon-submitters
	forgeAuthor = group ldap/opnfv-gerrit-moon-submitters
	forgeCommitter = group ldap/opnfv-gerrit-moon-submitters
[access "refs/tags/*"]
  create = group ldap/opnfv-gerrit-moon-submitters
  push = group ldap/opnfv-gerrit-moon-submitters
  pushTag = group ldap/opnfv-gerrit-moon-submitters
  pushSignedTag = group ldap/opnfv-gerrit-moon-submitters
[project]
  description = Security Management Module
[access "refs/*"]
  owner = group ldap/opnfv-gerrit-moon-submitters
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
