<div>
    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.assignments.subject.title">List of associated Subjects</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th data-translate="moon.policy.assignments.table.perimeter.name">Perimeter name</th>
                        <th data-translate="moon.policy.assignments.table.category.name">Category name</th>
                        <th data-translate="moon.policy.assignments.table.data.name">Data name</th></tr>
                    </thead>

                    <moon-loader ng-if="list.loadingSub"></moon-loader>

                    <tbody ng-if="!list.loadingSub && list.getSubjects().length > 0">

                        <tr ng-repeat="(key, value) in list.subjects">

                            <td>

                                <div ng-if="!list.getPerimeterFromAssignment(value, list.typeOfSubject)">
                                    <moon-loader ng-if="!list.getPerimeterFromAssignment(value)" ></moon-loader>
                                    <em data-translate="moon.policy.assignments.table.loading.perimeter">Loading </em>
                                </div>

                                <div ng-if="list.getPerimeterFromAssignment(value)">
                                    <span ng-bind="value.perimeter.name"></span>
                                </div>

                            </td>

                            <td>

                                <div ng-if="!list.getCategoryFromAssignment(value, list.typeOfSubject)">
                                    <moon-loader ng-if="!list.getCategoryFromAssignment(value)" ></moon-loader>
                                    <em data-translate="moon.policy.assignments.table.loading.category">Loading </em>
                                </div>

                                <div ng-if="list.getCategoryFromAssignment(value)">
                                    <span ng-bind="value.category.name"></span>
                                </div>

                            </td>

                            <td>

                                <span ng-repeat="(index, id) in value.assignments">

                                     <span ng-if="!list.getDataFromAssignmentsIndex(index, value, list.typeOfSubject)">
                                        <moon-loader ng-if="!list.getDataFromAssignmentsIndex(index, value, list.typeOfSubject)" ></moon-loader>
                                    </span>

                                    <span ng-if="list.getDataFromAssignmentsIndex(index, value, list.typeOfSubject)">
                                        <span ng-bind="value.assignments_value[index].data.name"></span>
                                        <a href="" ng-if="!value.loader" ng-click="list.deleteSub(value, value.assignments_value[index].data.id)" >
                                            <span>(</span><span class="glyphicon glyphicon-transfer"></span><span>)</span>
                                        </a>
                                        <span ng-if="index < value.assignments.length-1">,&nbsp;</span>
                                    </span>

                                </span>

                            </td>

                            <td>

                                <div ng-if="value.loader">

                                    <moon-loader></moon-loader>

                                </div>

                            </td>

                        </tr>
                    </tbody>


                    <tbody ng-if="!list.loadingSub && list.getSubjects().length === 0">
                    <tr>
                        <td data-translate="moon.policy.assignments.subject.notFound">There is no Subjects</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.assignments.subject.add.title">Add a Subject Category</h4>

        </div>

        <div class="panel-body">

            <moon-assignments-edit policy="list.policy" assignments-type="list.typeOfSubject"></moon-assignments-edit>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.assignments.object.title">List associated of Objects</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th data-translate="moon.policy.assignments.table.perimeter.name">Perimeter name</th>
                            <th data-translate="moon.policy.assignments.table.category.name">Category name</th>
                            <th data-translate="moon.policy.assignments.table.data.name">Data name</th>
                        </tr>
                    </thead>

                    <moon-loader ng-if="list.loadingObj"></moon-loader>

                    <tbody ng-if="!list.loadingObj && list.getObjects().length > 0">
                        <tr ng-repeat="(key, value) in list.objects">
                            <td>

                                <div ng-if="!list.getPerimeterFromAssignment(value, list.typeOfObject)">
                                    <moon-loader ng-if="!list.getPerimeterFromAssignment(value)" ></moon-loader>
                                    <em data-translate="moon.policy.assignments.table.loading.perimeter">Loading </em>
                                </div>

                                <div ng-if="list.getPerimeterFromAssignment(value)">
                                    <span ng-bind="value.perimeter.name"></span>
                                </div>

                            </td>

                            <td>

                                <div ng-if="!list.getCategoryFromAssignment(value, list.typeOfObject)">
                                    <moon-loader ng-if="!list.getCategoryFromAssignment(value)" ></moon-loader>
                                    <em data-translate="moon.policy.assignments.table.loading.category">Loading </em>
                                </div>

                                <div ng-if="list.getCategoryFromAssignment(value)">
                                    <span ng-bind="value.category.name"></span>
                                </div>

                            </td>

                            <td>
                                <span ng-repeat="(index, id) in value.assignments">

                                     <span ng-if="!list.getDataFromAssignmentsIndex(index, value, list.typeOfObject)">
                                        <moon-loader ng-if="!list.getDataFromAssignmentsIndex(index, value, list.typeOfObject)" ></moon-loader>
                                    </span>

                                    <span ng-if="list.getDataFromAssignmentsIndex(index, value, list.typeOfObject)">

                                        <span ng-if="value.assignments_value[index].data.name" ng-bind="value.assignments_value[index].data.name"></span>
                                        <span ng-if="value.assignments_value[index].data.value.name" ng-bind="value.assignments_value[index].data.value.name"></span>
                                        <a href="" ng-if="!value.loader" ng-click="list.deleteObj(value, value.assignments_value[index].data.id)" >
                                            <span>(</span><span class="glyphicon glyphicon-transfer"></span><span>)</span>
                                        </a>
                                        <span ng-if="index < value.assignments.length-1">,&nbsp;</span>
                                    </span>

                                </span>
                            </td>

                        </tr>
                    </tbody>

                    <tbody ng-if="!list.loadingObj && list.getObjects().length === 0">
                    <tr>
                        <td data-translate="moon.policy.assignments.object.notFound">There is no Objects</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.assignments.object.add.title">Add an Object Category</h4>

        </div>

        <div class="panel-body">

            <moon-assignments-edit policy="list.policy" assignments-type="list.typeOfObject"></moon-assignments-edit>

        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.assignments.action.title">List associated of Actions</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th data-translate="moon.policy.assignments.table.perimeter.name">Perimeter name</th>
                            <th data-translate="moon.policy.assignments.table.category.name">Category name</th>
                            <th data-translate="moon.policy.assignments.table.data.name">Data name</th>
                        </tr>
                    </thead>

                    <moon-loader ng-if="list.loadingAct"></moon-loader>

                    <tbody ng-if="!list.loadingAct && list.getActions().length > 0">
                    <tr ng-repeat="(key, value) in list.actions">

                        <td>
                            <div ng-if="!list.getPerimeterFromAssignment(value, list.typeOfAction)">
                                <moon-loader ng-if="!list.getPerimeterFromAssignment(value)" ></moon-loader>
                                <em data-translate="moon.policy.assignments.table.loading.perimeter">Loading </em>
                            </div>

                            <div ng-if="list.getPerimeterFromAssignment(value)">
                                <span ng-bind="value.perimeter.name"></span>
                            </div>
                        </td>

                        <td>

                            <div ng-if="!list.getCategoryFromAssignment(value, list.typeOfAction)">
                                <moon-loader ng-if="!list.getCategoryFromAssignment(value)" ></moon-loader>
                                <em data-translate="moon.policy.assignments.table.loading.category">Loading </em>
                            </div>

                            <div ng-if="list.getCategoryFromAssignment(value)">
                                <span ng-bind="value.category.name"></span>
                            </div>

                        </td>

                        <td>

                            <span ng-repeat="(index, id) in value.assignments">

                                <span ng-if="!list.getDataFromAssignmentsIndex(index, value, list.typeOfAction)">
                                    <moon-loader ng-if="!list.getDataFromAssignmentsIndex(index, value, list.typeOfAction)" ></moon-loader>
                                </span>

                                <span ng-if="list.getDataFromAssignmentsIndex(index, value, list.typeOfAction)">
                                    <span ng-if="value.assignments_value[index].data.name" ng-bind="value.assignments_value[index].data.name"></span>
                                    <span ng-if="value.assignments_value[index].data.value.name" ng-bind="value.assignments_value[index].data.value.name"></span>
                                    <a href="" ng-if="!value.loader" ng-click="list.deleteAct(value, value.assignments_value[index].data.id)" >
                                        <span>(</span><span class="glyphicon glyphicon-transfer"></span><span>)</span>
                                    </a>
                                    <span ng-if="index < value.assignments.length-1">,&nbsp;</span>
                                </span>

                            </span>

                        </td>
                    </tr>
                    </tbody>

                    <tbody ng-if="!list.loadingAct && list.getActions().length === 0">
                    <tr>
                        <td data-translate="moon.policy.assignments.action.notFound">There is no Actions</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>

            </div>


        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.assignments.action.add.title">Add an Action Category</h4>

        </div>

        <div class="panel-body">.

            <moon-assignments-edit policy="list.policy" assignments-type="list.typeOfAction"></moon-assignments-edit>

        </div>

    </div>

</div>