<div ng-controller="ProjectAddController as add" class="modal" tabindex="-1" data-role="modalAddProject">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" data-translate="moon.project.add.title"></h4>
			</div>
			
			<div class="modal-body">
				
				<form class="form-horizontal" role="form" name="add.form">
				
					<div class="form-group" ng-class="{'has-error': add.form.name.$invalid && add.form.name.$dirty}">
					
		                <label for="name" class="col-sm-3 control-label" data-translate="moon.project.add.form.name">Name</label>
		            
		                <div class="col-sm-6">
		            
		                    <input name="name" id="name" class="form-control" type="text" data-ng-model="add.project.project.name" required />
		                                        
		                    <div class="help-block" ng-show="add.form.name.$dirty && add.form.name.$invalid">
		                    	<small class="error" ng-show="add.form.name.$error.required" data-translate="moon.project.add.check.name.required">Name is required</small>
		                    </div>
		                    
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="description" class="col-sm-3 control-label" data-translate="moon.project.add.form.description">Description</label>
		                <div class="col-sm-6">
		                    <textarea id="description" name="description" class="form-control" data-ng-model="add.project.project.description"></textarea>
		                </div>
		            </div>
		            
		            <div class="form-group">
		                <label for="enabled" class="col-sm-3 control-label" data-translate="moon.project.add.form.enabled">Enabled</label>
		                <div class="col-sm-6">
		                    <div class="radio">
		                        <input type="checkbox" id="enabled" name="enabled" class="js-switch" data-ng-model="add.project.project.enabled" ui-switch />
		                    </div>
		                </div>
		            </div>
		            
		            <div class="form-group" ng-class="{'has-error': add.form.domain.$invalid && add.form.domain.$dirty}">
		            
		                <label for="domain" class="col-sm-3 control-label" data-translate="moon.project.add.form.domain">Domain</label>
		            
		                <div class="col-sm-6">
		                
		                    <input name="domain" id="domain" type="text" class="form-control" data-ng-model="add.project.project.domain" required />
		                                        
		                    <div class="help-block" ng-show="add.form.domain.$dirty && add.form.domain.$invalid">
		                    	<small class="error" ng-show="add.form.domain.$error.required" data-translate="moon.project.add.check.domain.required">Domain is required</small>
		                    </div>
		                    
		                </div>
		                
		            </div>
		            
				</form>
				
			</div>
			
			<div class="modal-footer">

				<div class="btn-toolbar" style="float: right;">

					<a href="" ng-click="$hide()" class="btn btn-default">
		                <span data-translate="moon.project.add.action.cancel">Cancel</span>
					</a>

					<a href="" ng-disabled="add.loading" ng-click="add.create()" class="btn btn-warning">
		            	<span class="glyphicon glyphicon-save"></span>
		                <span data-translate="moon.project.add.action.create">Create</span>
					</a>
					<img ng-if="add.loading" src="assets/img/ajax-loader.gif" />

				</div>

			</div>
			
		</div>
		
	</div>
	
</div>
