<div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.rules.edit.title">List of associated Subjects</h4>

        </div>

        <div class="panel-body">

            <div class="table-responsive" data-role="table">

                <table class="table table-striped table-hover" ng-table="list.table">

                    <thead>

                    <tr>

                        <th class="customTables sortable"
                            ng-class="{ 'sort-asc': list.table.isSortBy('description', 'asc'), 'sort-desc': list.table.isSortBy('description', 'desc') }"
                            ng-click="list.table.sorting('description', list.table.isSortBy('description', 'asc') ? 'desc' : 'asc')">
                            <div data-translate="moon.policy.rules.list.table.metaRule">Meta Rule</div>
                        </th>

                        <th class="customTables sortable">
                            <div data-translate="moon.policy.rules.list.table.rule">Rule</div>
                        </th>

                        <th class="customTables sortable">
                            <div data-translate="moon.policy.rules.list.table.instructions">Instruction</div>
                        </th>

                        <th class="customTables sortable">
                            <div data-translate="moon.policy.rules.list.table.action.title">Actions</div>
                        </th>
                    </tr>

                    </thead>

                    <moon-loader ng-if="list.loadingRules"></moon-loader>

                    <tbody ng-if="!list.loadingRules && !list.hasRules()">
                        <tr>
                            <td colspan="4"><span data-translate="moon.policy.rules.list.table.notFound">There is no Rules</span></td>
                        </tr>
                    </tbody>

                    <tbody ng-if="!list.loadingRules && list.hasRules()">

                    <tr ng-repeat="aRule in $data | filter:list.search.find | orderBy:sort:reverse">
                        <td>
                            <span ng-if="!list.getMetaRuleFromRule(aRule)">
                                <moon-loader ng-if="!list.getMetaRuleFromRule(aRule)" ></moon-loader>
                                <em data-translate="moon.policy.rules.list.table.loading.metaRule">Loading </em>
                            </span>

                                <span ng-if="list.getMetaRuleFromRule(aRule)">
                                <span ng-bind="aRule.meta_rule.name"></span>
                            </span>
                        </td>

                        <td>

                            <span ng-if="!list.getMetaRuleFromRule(aRule)">
                                <moon-loader ng-if="!list.getMetaRuleFromRule(aRule)" ></moon-loader>
                                <em data-translate="moon.policy.rules.list.table.loading.metaRule">Loading </em>
                            </span>

                            <span ng-if="list.getMetaRuleFromRule(aRule)" ng-repeat="(key, value) in aRule.rule">

                             <span ng-if="!list.getCategoryFromRuleIndex(key, aRule)">
                                <moon-loader ng-if="!list.getCategoryFromRuleIndex(key, aRule)" ></moon-loader>
                            </span>

                            <span ng-if="list.getCategoryFromRuleIndex(key, aRule)">
                                <span ng-if="aRule.rule_value[key].category.name" ng-bind="aRule.rule_value[key].category.name"></span>
                                <span ng-if="aRule.rule_value[key].category.value.name" ng-bind="aRule.rule_value[key].category.value.name"></span>
                                <span ng-if="key < aRule.rule.length-1">,</span>
                            </span>

                        </span>

                        </td>

                        <td>
                            <pre ng-bind="aRule.instructions | json "></pre>
                        </td>

                        <td>

                            <a href=""  ng-if="!aRule.loader" ng-click="list.deleteRules(aRule)" >
                                <span class="glyphicon glyphicon-transfer"></span>
                                <span class="control-label" data-translate="moon.policy.rules.list.table.action.delete">Delete</span>
                            </a>

                            <div ng-if="aRule.loader">

                                <moon-loader></moon-loader>

                            </div>

                        </td>

                    </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div ng-if="list.editMode" class="panel panel-default">

        <div class="panel-heading">

            <h4 data-translate="moon.policy.rules.edit.action.add.title">Add a Rule</h4>

        </div>

        <div class="panel-body">.

            <moon-rules-edit policy="list.policy"></moon-rules-edit>

        </div>

    </div>

</div>