<div class="container">

    <div>
        <form class="form-inline pull-right">
            <div class="form-group">
                <div>
                    <input id="searcPolicy" data-ng-model="list.search.query" type="text" class="form-control" placeholder="{{'moon.policy.list.search.placeholder' | translate}}" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-danger" data-ng-click="list.search.reset()" data-translate="moon.policy.list.search.reset">Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>


    <div class="row" >

        <div class="table-responsive" data-role="table">

            <table class="table table-striped table-hover" ng-table="list.table">

                <colgroup>
                    <col class="col-md-4" />
                    <col class="col-md-2" />
                    <col class="col-md-2" />
                    <col class="col-md-1" />
                </colgroup>

                <thead>

                <tr>

                    <th class="customTables sortable"
                        ng-class="{ 'sort-asc': list.table.isSortBy('name', 'asc'), 'sort-desc': list.table.isSortBy('name', 'desc') }"
                        ng-click="list.table.sorting('name', list.table.isSortBy('name', 'asc') ? 'desc' : 'asc')">
                        <div data-translate="moon.policy.list.table.name">Name</div>
                    </th>

                    <th class="customTables sortable"
                        ng-class="{ 'sort-asc': list.table.isSortBy('genre', 'asc'), 'sort-desc': list.table.isSortBy('genre', 'desc') }"
                        ng-click="list.table.sorting('genre', list.table.isSortBy('genre', 'asc') ? 'desc' : 'asc')">
                        <div data-translate="moon.policy.list.table.genre">Genre</div>
                    </th>

                    <th class="customTables sortable"
                        ng-class="{ 'sort-asc': list.table.isSortBy('description', 'asc'), 'sort-desc': list.table.isSortBy('description', 'desc') }"
                        ng-click="list.table.sorting('description', list.table.isSortBy('description', 'asc') ? 'desc' : 'asc')">
                        <div data-translate="moon.policy.list.table.description">Description</div>
                    </th>

                    <th class="customTables sortable">
                        <div data-translate="moon.policy.list.action.title">Actions</div>
                    </th>

                </tr>

                </thead>

                <tbody ng-if="!list.hasPolicies()">
                    <tr>
                        <td colspan="12"><span data-translate="moon.policy.list.table.notFound">There is no policy</span></td>
                    </tr>
                </tbody>

                <tbody ng-if="list.hasPolicies()">

                    <tr ng-repeat="policy in $data | filter:list.search.find | orderBy:sort:reverse">

                        <td ng-bind="policy.name"></td>

                        <td ng-bind="policy.genre"></td>

                        <td ng-bind="policy.description"></td>

                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span data-translate="moon.policy.list.action.title">Actions</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="" ui-sref="moon.policy.edit({id: policy.id})">
                                            <span class="glyphicon glyphicon-cog"></span>
                                            <span class="control-label"  data-translate="moon.policy.list.action.edit">Edit</span>
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="" ng-click="list.del.showModal(policy)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span class="control-label" data-translate="moon.policy.list.action.delete">Delete</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

        <div class="container">

            <div class="form-inline form-group">
                <a href="" ng-click="list.add.showModal()" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span data-translate="moon.policy.list.action.add">Add Model</span>
                </a>
            </div>

        </div>

    </div>

</div>