<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="moon">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Moon</title>
    <link href="assets/img/favicon.ico" rel="shortcut icon"/>

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>

<div class="container">
    <div ng-controller="HeaderController" ng-include="'html/common/header/header.tpl.html'"></div>
</div>

<div class="container">
    <div ui-view></div>
</div>

<div class="container">
    <div ng-controller="FooterController" ng-include="'html/common/footer/footer.tpl.html'"></div>
</div>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>