<div class="container">

    <div class="row">
        <h3 class="pull-left" data-translate="moon.model.edit.title" data-translate-values="{ modelName: edit.model.name }">Edit</h3>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <span data-translate="moon.model.edit.basic.title" >Basic Information</span>
            <a href="" ng-click="edit.editBasic = !edit.editBasic">
                <span data-translate="moon.model.edit.update">Update</span>
                <span class="glyphicon glyphicon-cog"></span>
            </a>

        </div>

        <div class="panel-body">

            <div ng-if="edit.editBasic">
                <moon-model-edit-basic model="edit.model"></moon-model-edit-basic>
            </div>

            <div ng-if="!edit.editBasic">
                <dl class="dl-horizontal">

                    <dt data-translate="moon.model.edit.basic.form.id">Id</dt>
                    <dd ng-bind="edit.model.id"></dd>

                    <dt data-translate="moon.model.edit.basic.form.name">Name</dt>
                    <dd ng-bind="edit.model.name"></dd>

                    <dt data-translate="moon.model.edit.basic.form.description">Description</dt>
                    <dd ng-bind="edit.model.description"></dd>

                </dl>
            </div>
        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">

            <span data-translate="moon.model.edit.metarules.title" >Meta Rule</span>
            <!--<a href="" ng-click="edit.editMetaRules = !edit.editMetaRules">
                <span data-translate="moon.model.edit.update">Update</span>
                <span class="glyphicon glyphicon-cog"></span>
            </a>-->

        </div>

        <div class="panel-body" ng-if="edit.model.meta_rules_values">
            <div class="">

                <moon-meta-rules-list mapped-model="edit.model"  edit-mode="edit.editMetaRules"></moon-meta-rules-list>

            </div>
        </div>

        <div class="panel-body" ng-if="!edit.model.meta_rules_values">
            <moon-loader></moon-loader>
        </div>

    </div>


</div>
